@import '../../styles/variables';

.pagination {
    a {
        background-color: rgb(239, 239, 239);
        border-radius: $radius;
        font-size: $size;
        margin-top: 20px;
        margin-right: 4px;
        padding: 6px;
        width: 20px;
        height: 20px;
        &:active {
            color: white;
        }
        &:hover {
            background-color: $highlight;
            transform: scale(0.9);
        }
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
    }
    :global {
        .selected {
          a {
            background-color: $highlight;
          }
        }
      }
}
