.cart {

&-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px,1fr));
    background-color: white;
    justify-items: center;
    border-radius: 4px;
    padding: 10px;
}

&-inform {
    display: flex;
    justify-content: space-between;
    button {
        font-size: 1.3rem;
        margin: 0;
    }
    margin-top: 15px;
};

&-back {
    margin-top: 10px;
    font-size: 1.3rem;
    margin-left: 0;
}

&-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    padding: 5px;
}

button {
    min-width: 30px;
}

.items-cost {
    font-size: 1.8rem;
    background-color: rgba(255, 255, 255, 0.5);
}
}

