@import '../../styles/variables';

.cart {

&-item {
    background-color: $background;
    border-radius: $radius;
    padding: 50px;
}

&-inform {
    display: flex;
    justify-content: space-between;
    button {
        font-size: $size;
        margin: 0;
    }
    margin-top: 15px;
};

&-back {
    margin-left: 0;
    border: rgb(0, 0, 0) 1px dashed;
}

&-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    padding: 5px;
    .clear-cart {
        border: rgb(0, 0, 0) 1px dashed;
        font-size: 1rem;
    }
}

button {
    min-width: 30px;
    &:disabled {
        pointer-events: none;
    }
}

.items-cost {
    font-size: 1.8rem;
    font-weight: $bold;
    border: 10px;
}
}

.empty-cart {
    text-align: center;
    padding: 40px;
    margin: 0 auto;
    font-size: $size;
    background-color: $background;
    border-radius: $radius;
    &-back {
        border: rgb(0, 0, 0) 1px dashed;
        font-size: 2rem;
    }
    &-icon {
        font-size: 5rem;
    }
    }
