@import '../../styles/variables';

.display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px,1fr));
    margin-bottom: 30px;
    .main  {
        text-align: center;
        .img {
            width: 180px;
            height: 165px;
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(0.9);
        }
       }
       .title {
        font-weight: $bold;
        font-size: $size;
       }
    }
    .inform {
        text-align: center;
        font-size: 1.2rem;
        align-self: center;
        justify-self: center;
        .price {
            font-weight: $bold;
        }
    }
    .amount {
        align-self: center;
        font-size: $size;
        font-weight: $bold;
        justify-self: center;
    }
    .delete {
        align-self: center;
        justify-self: center;
    }
}