@import '../../styles/variables';

.wrapper {
    margin-top: 10px;
    background-color: $background;
    border-radius: $radius;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    .img {
        width: 380px;
        height: 350px;
        padding: 5px;
        border-radius: $radius;
    }
    .inform {
        display: flex;
        flex-direction: column;
        font-size: $size;
        padding: 50px;
        button {
            margin-top: 10px;
            max-width: 200px;
            display: flex;
            justify-content: center;
            &:active {
                background-color: rgb(145, 212, 168);
                color: white;
            }
            .icon {
                margin-right: 5px;
            }
        }
        .price {
            font-weight: $bold;
        }
        .type {
            margin-top: 10px;
        }
        .description {
            margin: 20px 0;
            font-size: 20px;
        }
        .weight {
            display: flex;
        }
        p {
            font-size: 0.8rem;
        }
        .backbutton {
            margin-top: 80px;
            border: 1px black dashed;
        }
        .back {
            text-decoration: none;
        }
    }
}