@import '../../styles/variables.scss';

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 430px) {
    flex-direction: column;
    width: 100%;
  }
}
ul {
  display: flex;
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  background-color: $background;
  justify-items: center;
  border-radius: $radius;
  padding: 15px;
  gap: 15px;
  box-shadow: 0 10px 15px rgba(40, 40, 40, 0.2);
}
