@import '../../styles/variables';

.categories {
    button {
        margin: 8px 8px 8px 0;
        font-size: $size;
        @media screen and (max-width: 430px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 414px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 390px) {
            font-size: 0.9rem;
        }
        @media screen and (max-width: 376px) {
            font-size: 0.8rem;
        }
        @media screen and (max-width: 360px){
            font-size: 0.8rem;
        }
        &:hover {
            cursor: pointer;
        }
    }
}