.categories {
  margin: 10px;
  .marginButton {
    margin: 4px 4px 4px 0;
    @media screen and (max-width: 430px) {
      font-size: 14px;
    }
    @media screen and (max-width: 414px) {
      font-size: 12px;
    }
    @media screen and (max-width: 360px) {
      font-size: 10px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
