.categories {
  margin: 15px;
  width: 100%;
  ul {
    display: flex;
    gap: 6px;
    @media screen and (max-width: 430px) {
      justify-content: space-between;
    }
    .marginButton {
      min-width: 80px;
      padding: 10px 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
