@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  padding: 5px;
  .title {
    font-size: 30px;
    margin: 10px;
  }
  .clear {
    font-size: 1rem;
    margin: 10px;
  }
}

.item {
  background-color: $background;
  border-radius: $radius;
  padding: 50px;
}

.inform {
  display: flex;
  justify-content: space-between;
  button {
    font-size: $size;
    margin: 0;
  }
  margin-top: 15px;
  .total {
    font-size: 1.8rem;
    margin: 5px 0 5px 10px;
  }
  .order {
    margin: 0 10px 0 0;
  }
}

.back {
  display: flex;
  align-items: center;
  margin: 10px 0 0 10px;
}

button {
  min-width: 30px;
  &:disabled {
    pointer-events: none;
  }
}
