@import '../../styles/variables';

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-image {
        height: 200px;
        width: 215px;
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(0.9);
    }
    }
    h4 {
        font-weight: $bold;
    }
    &-title {
        font-weight: $bold;
    }
    &-inform {
        .tea-price {
            font-weight: $bold;
            font-size: $size;
        }        
        span {
            font-size: 15px;
        }
    }
 }

    button {
        margin: 2px;
        font-size: 1rem;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: $highlight;
            cursor: pointer;
            transform: scale(0.95);
        }
    }

    .cart-add {
          &:active {
        background-color: rgb(145, 212, 168);
        color: white;
        }
    }
