.header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    .cart-button {
       margin-left: auto;
       .cart-link {
        text-decoration: none;
        color:  black;
       }
    }
    &-link {
        text-decoration: none;
        color:  rgb(41, 84, 47);
    }
}
