.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-image {
        height: 200px;
        width: 215px;
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(0.9);
    }
    }
    &-title {
        font-weight: bold;
    }
    .tea-price {
        font-weight: bold;
    }
 }

    button {
        margin: 4px;
        font-size: 1rem;
        &:hover {
            background-color: rgb(79, 142, 87);
            cursor: pointer;
        }
    }
