@import './all';

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

html {
    font-size: 16px;
}

body {
    background-color:  rgb(87, 153, 127);
}

.wrapper {
    margin: 10px 10px;
}

button {
    border: none;
    font-size: 1.2rem;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
}

.active-button {
    border: none;
    background-color: rgb(44, 125, 91);
}

.content {
    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    ul {
        display: flex;
    }
    &-items {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(215px,1fr));
        background-color: white;
        justify-items: center;
        border-radius: 4px;
        padding: 10px;
    }
}

  li {
    list-style-type: none;
  }

  .cart-add {
    &:active {
        background-color: rgb(112, 176, 149);
    }
  }