@import '../styles/variables.scss';

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    background-color:  rgb(144, 171, 165);
}

button {
    border: none;
    font-size: 1.2rem;
    padding: 5px;
    box-sizing: border-box;
    border-radius: $radius;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $highlight;
        cursor: pointer;
        transform: scale(0.95);
    }
}

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }
