@import '../components/Header/header';
@import '../components/Sort/sort';
@import '../components/TeaCard/teacard';
@import '../components/Categories/categories';
@import '../components/Cart/cart';
@import '../components/DataNotFound/datanotfound';
@import '../components/Search/search';
@import './variables';

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    background-color:  rgb(111, 168, 145);
}

.wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    border: none;
    font-size: 1.2rem;
    padding: 5px;
    box-sizing: border-box;
    border-radius: $radius;
}

.active-button {
    border: none;
    background-color: $highlight;
    color: white;
}

.content {
    flex-grow: 1;
    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    ul {
        display: flex;
    }
    &-items {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(215px,1fr));
        background-color: $background;
        justify-items: center;
        border-radius: $radius;
        padding: 10px;
        }
    }

  li {
    list-style-type: none;
  }
