.spinner {
        text-align: center;
        padding: 100px;
        margin: 0 auto;
        font-size: 2rem;
        &-icon {
            font-size: 5rem;
            animation: spin 2s linear infinite;
        }
    }

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }