@import '../../../styles/variables.scss';

.button {
  border: none;
  box-sizing: border-box;
  padding: 7px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #2f4f46;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  box-shadow: 0 2px 5px #00000033;

  &:hover {
    background-color: #679689;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px #67968980;
  }

  &:disabled {
    pointer-events: none;
    background-color: #d4d4d480;
  }
}

.active {
  border: none;
  background-color: $highlight;
}
