@import '../../../styles/variables.scss';

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding: 150px;
  background-color: white;
  border-radius: $radius;
  .icon {
    font-size: 48px;
    animation: spin 2s linear infinite;
    color: rgb(31, 77, 64);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
