@import '../../styles/variables';
@import '../../styles/components/cartbutton.scss';
@import '../../styles/components/activebutton.scss';

.wrapper {
    margin-top: 20px;
    background-color: $background;
    border-radius: $radius;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    .img {
        width: 450px;
        height: 450px;
        border-radius: $radius;
        @media screen and (max-width: 430px) {
            width: 320px;
            height: 300px;
        }
    }
    .inform {
        display: flex;
        flex-direction: column;
        font-size: $size;
        padding: 20px;
        .notadded {
            @include cartbutton;
        }
        .added {
            @include cartbutton;
            background-color: $highlight;
        }
        button {
            margin-top: 10px;
            margin-right: 5px;
            max-width: 200px;
            display: flex;
            justify-content: center;
            padding: 5px;
            .icon {
                margin-right: 5px;
            }
        }
        .price {
            font-weight: bold;
        }
        .type {
            margin-top: 10px;
        }
        .description {
            margin: 20px 0;
            font-size: 20px;
        }
        .weight {
            display: flex;
            align-items: center;
            button {
                font-size: 15px;
                padding: 8px;
                margin: 2px;
            }
            .activebutton {
                @include activebutton;
            }
        }
        p {
            font-size: 0.8rem;
        }
        .backbutton {
            margin-top: 80px;
            font-size: 20px;
            display: flex;
            align-items: center;
        }
        .back {
            text-decoration: none;
        }
    }
}