.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 3rem;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background-image: url('../assets/header.jpg');
    background-size: cover;
    border-radius: 4px;
    .cart-button {
        min-width: 50px;
        font-size: 1.5rem;
        .cart-link {
        text-decoration: none;
        color:  black;
       }
       .cart-icon {
        color:   black;
       }
    }
    &-link {
        text-decoration: none;
        color:  white;
    }
}
