.header {
  font-size: 25px;
  position: relative;
  min-height: 180px;
  box-shadow: 0 10px 15px #28282833;
  border-radius: 15px;
}

.link {
  text-decoration: none;
  color: white;
  max-width: 550px;
}

.title {
  position: absolute;
  font-size: 20px;
  bottom: 10px;
  left: 20px;
  text-shadow: 2px 2px 4px #0000001a;
}

.searchInput {
  position: absolute;
  right: 0;
  top: 50px;
}

.cartButton {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 50px;
  font-size: 20px;
  margin: 5px;
}

.cartLink {
  text-decoration: none;
  color: #000000;
}

.cartIcon {
  color: #1f4d40;
}
