@import '../../styles/variables';

.header {
    display: flex;
    flex-direction: column-reverse;
    font-size: 2rem;
    background-image: url('../../assets/header.jpg');
    background-size: cover;
        .link {
            text-decoration: none;
            color:  white;
            max-width: 550px;
            .title {
                margin: 20px;
            }
        }
        .cartbutton {
            align-self: flex-end;
            min-width: 50px;
            font-size: $size;
            .cartlink {
            text-decoration: none;
            color:  black;
           }
           .carticon {
            color:   black;
           }
        }
}
