.header {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  background-image: url('../../assets/header.jpg');
  background-size: cover;
  .link {
    text-decoration: none;
    color: white;
    max-width: 550px;
    .title {
      margin: 20px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
  .cartButton {
    align-self: flex-end;
    min-width: 50px;
    font-size: 1.5rem;
    margin: 5px;
    .cartLink {
      text-decoration: none;
      color: black;
    }
    .cartIcon {
      color: rgb(31, 77, 64);
    }
  }
}
