.footer {
  background-color: rgba(255, 255, 255, 0.354);
  text-align: center;
  margin-top: 20px;
  color: white;
  padding: 5px;
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
    margin: 5px;
  }
  .bottom {
    margin-top: 20px;
  }
}
