.footer {
  box-shadow: 0 10px 15px #28282880;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  padding: 5px;
  border-radius: 15px;

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 13px;
    margin: 5px;
  }
}

.bottom {
  margin-top: 20px;
}
