.sort {
    position: relative;
    font-size: 1.1rem;
    &-label {
        display: flex;
        @media screen and (max-width: 390px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 376px) {
            font-size: 0.8rem;
        }
        @media screen and (max-width: 360px){
            font-size: 0.8rem;
        }
        .sort-icon {
            font-size: 29px;
        }
        span {
            cursor: pointer;
            font-weight: bold;
        }
    }
    &-popup {
        position: absolute;
        right: 0;
        padding: 10px 0;
        ul {
            display: flex;
            flex-direction: column;
            background-color:   rgb(44, 125, 91);
            border-radius: 4px;
            li {
                cursor: pointer;
                padding: 10px 10px;
                font-size: 1.5rem;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
        }
        }
    }
